// Estilos para Club
section.club {
    background-color: $turquesa-300;

    mark{
      background-color: $turquesa-500;
    }

    h2,h3{
      color: $turquesa-900;
    }

    .list-group-item{
      background: 0;
      border-color: $turquesa-500;
      border: 1px 0;
      line-height: 1.2;
    }

    @media#{$lg-screen} {

      }
}

.decoracion{
  position: relative;
  .petalos{
    position: absolute;
    width: 100%;
    background: url('../img/bg-seccion-2.png');
    @include background-cover;
    height: 580px;
    top: -120px;
  }
}
