// Estilos para Presentación
section.presentacion {
    background: url('../img/bg-seccion.png') center #F8F8F8;
    @include background-cover;
    position: relative;
    padding: auto 0;
    padding-bottom: 160px;
    img{
      width: 240px;
    }
    .carousel{
      width: 100%;

    }
    .carousel-item{
      text-align: center;
    }
    h2 {
        margin-top: 0;
        color: $theme-primary;
    }
    mark{
      background-color:$turquesa-300;
    }
    #carouselPresentacion{
      height: 560px;
    }
    @media #{$md-screen} {

        .carousel{
          .carousel-item{
            text-align: left;
          }
        }
        #carouselPresentacion{
          height: 360px;
        }
    }
    @media #{$lg-screen} {
      .carousel{
        img{
          width: 100%;
        }
        .carousel-item{
          text-align: left;
        }

      }
        #carouselPresentacion{
          height: 480px;
        }
        .section-heading{
          padding-top: 60px;
        }
    }

}
